<?xml version="1.0"?>

<launch>

    <arg name="agent" default="agent1"/>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    <arg name="use_keyboard" default="true"/>
    
    

    <node pkg="wot_pkg" name="$(arg agent)" type="vehicle_node"/>


    <include file="$(find hamster_vehicle_gazebo)/launch/hamster_vehicle_spawner.launch">
        <arg name="agent" value="$(arg agent)"/>
        <arg name="x" default="$(arg x)"/>
        <arg name="y" default="$(arg y)"/>
        <arg name="z" default="$(arg z)"/>
        <arg name="use_keyboard" default="$(arg use_keyboard)"/>
        <param name="vehicle_name" value="$(arg agent)"/>
    </include>


</launch>