<?xml version="1.0"?>

<launch>

    <arg name="agent" default="agent1"/>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    <arg name="use_keyboard" default="true"/>
    <arg name="use_keyboard_2" default="true"/>
    
    

    <node pkg="wot_pkg" name="$(arg agent)" type="vehicle_node" output="screen"/>


    <include file="$(find hamster_vehicle_gazebo)/launch/hamster_vehicle_spawner.launch">
        <arg name="agent" value="$(arg agent)"/>
        <arg name="x" default="$(arg x)"/>
        <arg name="y" default="$(arg y)"/>
        <arg name="z" default="$(arg z)"/>
        <arg name="use_keyboard" default="$(arg use_keyboard)"/>
        <arg name="use_keyboard_2" default="$(arg use_keyboard_2)"/>
        <param name="vehicle_name" value="$(arg agent)"/>
    </include>

    <node name="$(arg agent)transform_map_odom" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 map $(arg agent)/odom" />

    <param name="robot_description" command="$(find xacro)/xacro $(find hamster_vehicle_description)/urdf/hamster.urdf.xacro"/>


</launch>