<?xml version="1.0"?>

<launch>

	

    <node pkg="wot_pkg" name="master_node" type="master_node" output="screen" />

    <include file="$(find hamster_vehicle_gazebo)/launch/hamster_world.launch">
		<arg name="gui" value="true"/>
		<arg name="world_name" value="$(find hamster_vehicle_gazebo)/worlds/simple_env_3.world"/>
	</include>

	<!---<include file="$(find gazebo_ros)/launch/empty_world.launch">

		<arg name="gui" value="true"/>
		
	</include>  -->

	<include file="$(find wot_pkg)/launch/vehicle.launch">
    	<arg name="agent" value="vehicle1"/>
		<arg name="x" value="0.0"/>	
		<arg name="y" value="0.0"/>
		<arg name="z" value="0.0"/>
		<arg name="use_keyboard_2" value="false"/>
			
	</include>

	<include file="$(find wot_pkg)/launch/vehicle.launch">
    	<arg name="agent" value="vehicle2"/>
		<arg name="x" value="1.5"/>
		<arg name="y" value="0.0"/>
		<arg name="z" value="0.0"/>
		<arg name="use_keyboard" value="false"/>

	</include>

	<node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find hamster_vehicle)/rviz/hamsters.rviz"/> 

	
</launch>